<div class="row">
<% @user.posts.each do |post| %>
    <div class="card mx-auto" style="width: 20rem; margin: 15px;">
        <img src="<%= post.image_url %>" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post %></h5>
            <p class="card-text"><%= post.description %></p>
            <ul class="list-unstyled">
                <li class="text-right"><small>By <%= link_to post.user.name, "/users/#{post.user.id}" %></small></li>
                <li class="text-right"><small>Category: <%= link_to post.category.name, "/category/#{post.category_id}" %></small></li>
            </ul>
        </div>
    </div>
<% end %>
</div>