<%= form_with model: @post do |form| %>
<label>Title:</label><br>
<%= form.text_field :title, class: "form-control" %><br>
<label>Description:</label><br>
<%= form.text_area :description, class: "form-control" %><br>
<label>Image Link</label>
<%= form.text_field :image_url, class: "form-control" %><br>
<%= label_tag("Choose Project:") %>
<%= form.collection_select :project_id, @projects, :id, :title, class: "form-control" %><br>
<%= label_tag("Choose Category:") %>
<%= form.collection_select :category_id, @categories, :id, :name, class: "form-control" %><br>
<br>
<%= form.submit class: "btn btn-primary float-left" %>
<% end %>

<% if current_user.id == @post.user_id %>
    <%= form_with model: @post, method: "DELETE" do |form| %>
        <%= form.submit class: "btn btn-danger float-right", value: "Delete Post" %>
    <% end %>
<% end %>
