<div class="row">
<% @posts.each do |post| %>
    <div class="col-sm-3">
        <img src="<%= post.image_url %>" class="img-thumbnail">
        <h3><%= link_to post.title, post %></h3>
        <p><%= link_to post.user.name, "/user/#{post.user.id}" %></p>
        <p><%= post.description %></p>
        <p>Project: <%= post.project.title %> | Category: <%= post.category.name %></p>
    </div>
<% end %>