<% @posts.each do |post| %>
    <img src="<%= post.image_url %>">
    <h3><%= link_to post.title, post %><h3>
    <p><%= link_to post.user.name, "/user/#{post.user.id}" %></p>
    <p><%= post.description %></p>
    <p>Project: <%= post.project.title %> | Category: <%= post.category.name %></p>
<% end %>