<div class="row justify-content-center">
    <div class="col-8">
        <h1><%= @post.title %></h1>
        <p class="font-weight-light">By <%= link_to @post.user.name, "/users/#{@post.user.id}" %></p>
        <img class="img-fluid rounded img-thumbnail" src="<%= @post.image_url %>"><br>
        <br>
        <h4>Description</h4>
        <p><%=@post.description%></p>
        <p class="font-weight-light">Category: <%= link_to @post.category.name, category_path %></p>
        <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z"/>
            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 100-7 3.5 3.5 0 000 7z" clip-rule="evenodd"/>
        </svg>&nbsp;
        <small><%= pluralize(@post.impressionist_count, 'View') %></small><br><br>
        <% if session[:user_id] == @post.user_id %>
            <a href="/posts/<%= @post.id %>/edit">
                <button type="button" class="btn btn-secondary btn-sm">Edit Post</button>
            </a>
        <% end %>
        <br>
        <br>
        <%= render partial: "comments"%>
    </div>
</div>
















