<div class="row justify-content-center">
    <div class="col-8">
        <h1><%= @post.title %></h1>
        <p class="font-weight-light">By <%= link_to @post.user.name, "/users/#{@post.user.id}" %></p>
        <img class="img-fluid rounded img-thumbnail" src="<%= @post.image_url %>"><br>
        <br>
        <h4>Description</h4>
        <p><%=@post.description%></p>
        <p class="font-weight-light">Category: <%= link_to @post.category.name, category_path %></p>
        <% if @post.votes_for.voters.include?(current_user) %>
            <%= link_to like_post_path(@post), method: :get, class: "text-decoration-none"  do %>
                <svg class="bi bi-heart-fill text-danger" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                </svg>
                <small class="text-muted"><%= pluralize(@post.votes_for.size, 'Like') %></small>&nbsp;&nbsp;
            <% end %>
        <% else %>
            <%= link_to like_post_path(@post), method: :get, class: "text-decoration-none" do %>
                <svg class="bi bi-heart-fill text-secondary" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                </svg>
                <small class="text-muted"><%= pluralize(@post.votes_for.size, 'Like') %></small>&nbsp;&nbsp;
            <% end %>
        <% end %>
        <svg class="bi bi-eye-fill text-secondary" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z"/>
            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 100-7 3.5 3.5 0 000 7z" clip-rule="evenodd"/>
        </svg>
        <small class="text-muted"><%= pluralize(@post.impressionist_count, 'View') %></small>&nbsp;&nbsp;
        <svg class="bi bi-chat-square-dots-fill text-secondary" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 2a2 2 0 012-2h12a2 2 0 012 2v8a2 2 0 01-2 2h-2.5a1 1 0 00-.8.4l-1.9 2.533a1 1 0 01-1.6 0L5.3 12.4a1 1 0 00-.8-.4H2a2 2 0 01-2-2V2zm5 4a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm3 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
        </svg>
        <small class="text-muted"><%= pluralize(@comments.count, 'Comment') %></small><br><br>
        <% if session[:user_id] == @post.user_id %>
            <a href="/posts/<%= @post.id %>/edit">
                <button type="button" class="btn btn-secondary btn-sm">Edit Post</button>
            </a>
        <% end %>
        <br>
        <br>
        <%= render partial: "comments"%>
    </div>
</div>
















