<div class="row justify-content-center">
    <div class="col-8">
        <h1><%= @post.title %></h1>
        <p class="font-weight-light">By <%= link_to @post.user.name, "/users/#{@post.user.id}" %></p>
        <img class="img-fluid rounded img-thumbnail" src="<%= @post.image_url %>"><br>
        <br>
        <h4>Description</h4>
        <p><%=@post.description%></p>
        <p class="font-weight-light">Category: <%= link_to @post.category.name, category_path %></p>
        <% if session[:user_id] == @post.user_id %>
            <a href="/posts/<%= @post.id %>/edit">
                <button type="button" class="btn btn-secondary btn-sm">Edit Post</button>
            </a>
        <% end %>
        <br>
        <br>
        <%= render partial: "comments"%>
    </div>
</div>
















