<h1><%= @post.title %></h1>
<br>
<label>Description:</labeL>
<p><%=@post.description%></p>
<br>


<label> Comment Section: </label>
<% @comments.map do |comment| %>
<p><%= comment.content %></p>
Posted By: <%= link_to(comment.user.name, user_path(comment.user.id)) %>
<p>_______________________________________________________<p>
<br>
<%end%>

<%= form_with url: comments_path do |form| %>
    <h5>Enter a new comment:</h5>
    <%= form.text_area :content, size: "50x10"%>
    <%= form.hidden_field :post_id, :value => @post.id %>
    <%# YOU BETTER CHANGE THIS VALUE TO COOKIES USER VVVVVVVV%>
    <%= form.hidden_field :user_id, :value => @user.id %>
    <%# YOU BETTER CHANGE THIS VALUE TO COOKIES USER ^^^^^^^^%>
    <br>
    <%= form.submit("Enter A New Comment") %>
<% end %>














